<h1>Products#home</h1>
<h1>Hi raheel</h1>
<h1>Products#home</h1>
<%# <% =debug @products %> %


    <h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <div>
      <%= link_to product.name, product_about_path(product.id) %>
    </div>
  <% end %>
</div>



<%# <h1>Creating the product :</h1> %>


<h1>Creating the product :</h1>

<%= link_to "New_Product", new_product_path %>

<div id="products">
  <% @products.each do |item| %>  

  <div style= "border:1px solid gray;padding:10px;margin-bottom:10px;">
    <%= link_to item.name, product_about_path(item.id) %>  
    <p><%= item.description %> </p>  
    </div>
<%= link_to "Edit the product", edit_product_path(item.id) %>
    <%end%>
</div>
<%# <%= link_to "Edit the product", product_path[:id] %> %>




