<!-- <% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <p><%= product.description %></p>
  
  <% if policy(product).edit? %>
  <%= link_to "Edit", edit_product_path(product) %>
  <% end %>
  
  <% if policy(product).destroy? %>
  <%= link_to "Delete", product_path(product), method: :delete, data: { confirm: "Are you sure?" } %>
  
  <% end %>
  <% end %>
  
  <% if policy(Product).create? %>
  <%= link_to "New Product", new_product_path %>
  <% end %>
  -->
  
   <%if user_signed_in?%>
  <h1>Wellcome <%= current_user.email%></h1>
  <%end%>
  <!-- <%== pagy_nav(@pagy)%> -->

  <% @products.each do |product| %>
  <div class="product">
    <h3><%= product.name %></h3>
    <p><%= product.description %></p>
    
    <!-- Add a View link -->
    <%= link_to "View", product_path(product) %>
    
    <% if policy(product).edit? %>
    <%= link_to "Edit", edit_product_path(product) %>
    <% end %>
    
    <% if policy(product).destroy? %>
      <%= link_to "Delete", product_path(product), method: :delete, 
          data: { confirm: "Are you sure?" } %>
          <% end %>
  </div>
<% end %>

<% if policy(Product).create? %>
  <%= link_to "New Product", new_product_path %>
<% end %>




<!-- <%# <% =debug @products %> % -->


    <h1>Products</h1>

<%flash.each do |key,msg| %>
<div class="alert-alert - <%= key%>">
     <%= msg %>
   
    </div>
    <%end%>

    <div>
      <% if user_signed_in? %>
      <%== pagy_bootstrap_nav(@pagy) %>
      <%== pagy_info(@pagy) %>
    </div>  
    <%end%>

    
    <div id="products">
  <% @products.each do |product| %>
    <div>
      <%= link_to product.name, product_about_path(product.id) %>
    </div>
  <% end %>
</div>

<h1></h1>
<%# <h1>Creating the product :</h1> %>


<h1>Creating the product :</h1>

<h1 style="border: 2px solid black;width: 300px;text-align: center;background-color: wheat;color: brown;cursor: pointer;text-decoration:dotted;">
  
  <%= link_to "New_Product", new_product_path %>
</h1>

<div id="products">
  <% @products.each do |item| %>  
  
  <div style= "border:1px solid gray;padding:10px;margin-bottom:10px;">
    <%= link_to item.name, product_about_path(item.id) %>  
    <p><%= item.description %> </p>  
    </div>
<%= link_to "Edit the product", edit_product_path(item.id) %>
    <%end%>


    
</div>
<!-- <%# <%= link_to "Edit the product", product_path[:id] %> %> -->
<h1>All Products</h1>

<%= button_to "Import Products from API", import_from_api_products_path, method: :post, class: "btn btn-primary" %>

<table border="1" cellpadding="5">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Stock</th>
  </tr>

  <% @products.each do |product| %>
    <div>
  <h1><%= product["title"] %></h1>
  <p><%= truncate(product["description"], length: 100) %></p>
  <h1>$<%= product["price"] %></h1>

    </div>
  <% end %>
</table>
