
<!-- <%# <% =debug @products %> % -->
 <%if user_signed_in?%>
<h1>Wellcome <%= current_user.email%></h1>
<%end%>
    <h1>Products</h1>

<%flash.each do |key,msg| %>
<div class="alert-alert - <%= key%>">
     <%= msg %>
   
    </div>
    <%end%>



<div id="products">
  <% @products.each do |product| %>
    <div>
      <%= link_to product.name, product_about_path(product.id) %>
    </div>
  <% end %>
</div>

<h1></h1>
<%# <h1>Creating the product :</h1> %>


<h1>Creating the product :</h1>

<h1 style="border: 2px solid black;width: 200px;text-align: center;background-color: wheat;color: brown;cursor: pointer;">
  
  <%= link_to "New_Product", new_product_path %>
</h1>

<div id="products">
  <% @products.each do |item| %>  

  <div style= "border:1px solid gray;padding:10px;margin-bottom:10px;">
    <%= link_to item.name, product_about_path(item.id) %>  
    <p><%= item.description %> </p>  
    </div>
<%= link_to "Edit the product", edit_product_path(item.id) %>
    <%end%>
</div>
<!-- <%# <%= link_to "Edit the product", product_path[:id] %> %> -->




